@font-face {
    font-family: Title;
    src: url(../fontes/ANODETONOONE.TTF);
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Title;
}